@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  background-color: theme('colors.background');
  color: white;
  font-family: sans-serif;
}

.container {
  @apply mx-auto px-4;
}

.table-header {
  @apply cursor-pointer select-none;
}

.table-row:hover {
  @apply bg-gray-800;
}

button {
  @apply px-2 py-1 rounded bg-primary text-white hover:bg-primary-dark;
}
